{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block head_lib %}
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock head_lib %}

{% block content %}
    <div class="container-fluid p-0">
        <div class="col-12 d-none d-sm-block">
            <h3><strong>Send Invoice</strong></h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Library</a></li>
                    <li class="breadcrumb-item active">Data</li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <div class="col-12 col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="fs-3 text-dark fw-bolder">Send Invoice To</h5>
                    </div>
                    <div class="card-body">
                        <form enctype="multipart/form-data" id="send_form">
                            {% csrf_token %}
                            <div class="mb-3 col-md-8">
                                {{ client_form.label_tag }}
                                {{ client_form }}
                            </div>
                            <div class="mb-3 col-md-6">
                                {{ email_form.label_tag }}
                                {{ email_form }}
                            </div>
                            <div class="mb-3 col-md-6">
                                {{ wa_telp_form.label_tag }}
                                {{ wa_telp_form }}
                            </div>
                            <div class="mb-3 col-md-6">
                                <div class="form-label">Send via:</div>
                                <div class="d-flex gap-3">
                                    <div class="input-group d-flex gap-3">
                                        <div class="d-flex align-content-center col-md-6">
                                            <label class="form-check m-0">
                                                {{ email_check_form }}
                                                <span class="form-check-label">Email</span>
                                            </label>
                                        </div>
                                        <div class="d-flex align-content-center col-md-5">
                                            <label class="form-check m-0">
                                                {{ wa_check_form }}
                                                <span class="form-check-label">Whatsapp</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 col-md-6">
                                <div class="input-group mb-3">
                                    <label for="invoice" class="form-label">Dokumen Invoice:
                                        {{ file_form }}
                                    </label>
                                </div>                                  
                            </div>
                            <div class="mb-3 col-md-8">
                                {{ text_form.label_tag }}
                                {{ text_form }}
                            </div>
                            <div class="mb-3 col-md-6">
                                <div class="d-flex gap-2">
                                    <button class="btn btn-outline-success" id="btn_cancel">Cancel</button>
                                    <button class="btn btn-warning" id="btn_previous">Previous</button>
                                    <button class="btn btn-main" type="submit">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block body_lib %}
    <script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
    <script src="{% static 'js/send_invoice.js' %}"></script>
{% endblock body_lib %}