{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block head_lib %}
{% endblock head_lib %}

{% block content %}
    <div class="container-fluid p-0">
        <div class="col-12 d-none d-sm-block">
			<h3><strong>Edit Client</strong></h3>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">Home</a></li>
					<li class="breadcrumb-item"><a href="#">Library</a></li>
					<li class="breadcrumb-item active">Data</li>
				</ol>
			</nav>
		</div>
        <hr style="border: 2px solid #1e8a97;">
        <div class="row">
            <div class="col-12 col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <form id="form_update_client">
                            {% csrf_token %}
                            <div class="row">
                                <div class="mb-3 col-md-12">
                                    {{ client_nama_form.label_tag }}
                                    {{ client_nama_form }}
                                </div>
                                <div class="mb-3 col-md-12">
                                    {{ alamat_form.label_tag }}
                                    {{ alamat_form }}
                                </div>
                                <div class="mb-3 col-md-12">
                                    {{ client_pos_form.label_tag }}
                                    {{ client_pos_form }}
                                </div>
                                <div class="mb-3 col-md-12">
                                    {{ client_email_form.label_tag }}
                                    {{ client_email_form }}
                                </div>
                                <div class="mb-3 col-md-12">
                                    {{ client_wa_form.label_tag }}
                                    {{ client_wa_form }}
                                </div>
                            </div>
                            <div class="mt-4 d-flex justify-content-end col-md-12 d-flex gap-3">
                                <button class="btn btn-outline-success" id="btn_cancel">Cancel</button>
                                <button class="btn btn-success" id="btn_update">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block body_lib %}
    <script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
    <script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'js/edit_client.js' %}"></script>
{% endblock body_lib %}